@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
  color: white;
  background: rgb(0,0,4);
  background: linear-gradient(90deg, rgba(0,0,4,1) 0%, rgba(0,3,31,1) 50%, rgba(0,0,4,1) 100%);
  font-family: 'Kanit', sans-serif;
}
#movieRow{
  box-shadow: rgb(13 36 102 / 60%) 6px 6px 34px 3px;
}
.text-star-yellow{
  color:rgb(245, 197, 24);
}
.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.hamburger-menu{
  display: none;
}
.showNav{
  top: 7.6%;
}
@media only screen and (max-width:1024px){
  .hamburger-menu{
    display: contents;
  }
  .nav{
    position: fixed;
    top: 7.6%;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: 250ms;
    display: flex;
    transform: translateX(-150vh);
    padding: 4em;
  }
  .navbar-nav{
    gap: 3em;
  }
  .showNav{
    transform: none;
    opacity: 0.9;
  }
}